/* ============================= */
/* Responsive Breakpoints Scaffold */
/* ============================= */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 85em) {
  html {
    font-size: 56.25%;
  }

  /* Styles for screens below 1344px */

  /* .show-card-img {
    max-width: 25rem;
  }

  .show-card-img img {
    width: 100%;
    height: auto;
  }*/

  .show-items {
    overflow-x: auto;
    width: 86vw;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }

  .show-items::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

/**************************/
/* BELOW 1200px (Desktops/Laptops) */
/**************************/
@media (max-width: 75em) {
  /* Styles for screens below 1200px */
  .hero-right .hero-img {
    height: 100%;
  }

  .testimonials {
    overflow-x: auto;
    width: 96vw;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }

  .testimonials::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .cta-btns form {
    width: 60%;
    margin-bottom: 0.5rem;
  }

  .button-cta {
    width: 60%;
    padding: 1.4rem 2.8rem;
  }
}

/**************************/
/* BELOW 1024px (Tablet landscape) */
/**************************/
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
  /* Styles for screens below 1024px */

  .grid--2-cols {
    grid-template-columns: 1.3fr 1fr;
  }

  .hero-right .hero-img {
    width: 125%;
    transform: scale(1.2);
  }

  .hero-text {
    line-height: 1.2;
  }

  .section-cta::before {
    height: 70%;
  }

  .cta p {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 768px (Tablet portrait) */
/**************************/
@media (max-width: 48em) {
  html {
    font-size: 43.75%;
  }
  /* Styles for screens below 768px */

  .hamburger-menu {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-start {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .logo-text {
    font-size: 3.6rem;
  }

  .grid {
    row-gap: 0;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-shop {
    width: 65%;
  }

  .hero-stats {
    width: 100%;
    justify-content: center;
  }

  .hero-stat:last-child {
    margin-right: 0;
  }

  .star--big{
    z-index: 1515;
  }

  .hero-right .hero-img {
    width: 100%;
    height: auto;
  }

  .show-card {
    width: 48%;
  }

  .browse-area {
    grid-template-columns: 1fr;
  }

  .browse-card {
    grid-column: 1 / -1;
  }

  .cta-btns form {
    width: 90%;
  }

  .cta-btns form img {
    transform: scale(0.7);
  }

  .button-cta {
    width: 90%;
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    justify-items: self-start;
  }

  .footer-intro {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    width: 100%;
  }

  .footer-intro span {
    font-size: 4rem;
  }

  .footer-desc {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 544px (Large phones) */
/**************************/
@media (max-width: 34em) {
  html {
    font-size: 37.5%;
  }
  /* Styles for screens below 544px */

  .search-bar {
    display: none;
  }

  .nav-search-icon {
    display: block;
    width: 4rem;
    height: 4rem;
  }

  .nav-icon{
    width: 4rem;
    height: 4rem;
  }

  .nav-start{
    gap: 3rem;
  }

  .grid--2-cols {
    row-gap: 10rem;
  }

  .hero-left {
    padding-top: 4rem;
  }

  .heading-primary{
    text-shadow: none;
    letter-spacing: 0;
  }

  .hero-text{
    width: 100%;
  }

  .hero-stats {
    flex-wrap: wrap;
  }

  .hero-stat {
    margin-bottom: 1.2rem;
  }

  .hero-stat span{
    margin-bottom: 1rem;
  }

  .hero-stat:nth-child(2){
    margin-right: 0;
    padding-right: 0;
  }
  .hero-stat:nth-child(3){
    margin-left: 6rem;
  }

  .btn-shop {
    width: 100%;
    height:auto;
    font-size: 3rem;
    padding: 1.5rem;
  }

  .brand-list{
    flex-wrap: wrap;
    justify-content: center;
  }

  .brand-logo{
    width: 13rem;
    height: 4rem;
    margin-bottom: 4rem;
  }

  .brand-logo:nth-child(4),
  .brand-logo:nth-child(5){
    margin-bottom: 0;
  }

  .show-card {
    width: auto;
  }

  .show-name {
    font-size: 2.8rem;
  }

  .show-rating span {
    font-size: 2.2rem;
  }

  .btn-show{
    width: 100%;
    font-size: 2.5rem;
    height: auto;
  }

  .price span,
  .price del {
    font-size: 3.4rem;
  }

  .discount{
    margin-left: 2rem;
  }

  .discount span{
    font-size: 1.7rem;
  }

  .heading-secondary {
    text-align: center;
  }

  .browse{
    padding: 7rem 3.8rem;
    border-radius: 20px;
  }

  .test-upper .heading-secondary{
    text-align: left;
  }

  .test-upper{
    align-items: flex-end;
  }

  .test-name{
    font-size: 2.9rem;
  }

  .test-content{
    font-size: 2.5rem;
  }

  .testimonials{
    width: 100%;
  }

  .testimonial{
    flex: 0 0 100%;
  }

  .section-cta::before {
    height: 50%;
  }

  .cta {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .cta p {
    padding: 4.3rem 6.4rem;
    text-align: center;
    font-size: 5rem;
  }

  .cta-btns {
    padding: 4.3rem 2.4rem;
    padding-top: 0;
  }

  .cta-btns input{
    font-size: 2.5rem;
  }

  .button-cta {
    width: 90%;
    padding: 1.8rem 2.4rem;
    font-size: 2.5rem;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }

  .social {
    margin-bottom: 2.4rem;
  }

  .footer-nav {
    gap: 1rem;
  }

  .footer-col-head,
  .footer-nav-items {
    font-size: 2rem;
  }

  .footer-end {
    flex-direction: column;
    gap: 1.6rem;
  }

  .footer-end p {
    font-size: 2rem;
  }

  .pay-card{
    width: 7.2rem;
  }
}

@media (max-width: 26em) {
  .hero-stat:nth-child(2){
    border-right: none;
  }
}

/**************************/
/* BELOW 400px (Small phones) */
/**************************/
@media (max-width: 25em) {
  html{
    font-size: 35%;
  }
  /* Styles for screens below 400px */

  .star--small{
    top: 14.4rem;
  }
  .star--big{
    top: 3.7rem;
  }
}
