.shop-content {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
.breadcrumb {
  font-size: 14px;
  color: #888;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.filters {
  min-width: 295px;
  height: 1220px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 20px 24px;
  font-size: 16px;
  height: fit-content;
}
.filter-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.filters .filter-div h3 {
  font-size: 20px;
  font-weight: 700;
}
.filter-icon {
  width: 20px;
  height: auto;
}
.down-icon{
  transform: rotate(90deg);
}
.filter-line {
  margin-bottom: 24px;
}
.filter-group {
  margin-bottom: 28px;
}
.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}
.slider {
  margin-bottom: 8px;
}
.slider input[type="range"] {
  width: 100%;
  margin: 0 0 8px 0;
}
.slider input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f0f0f0; /* Color of the track */
}

.slider input[type="range"]::-webkit-slider-thumb {
  background-color: red; /* Color of the thumb */
}
.price-labels {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.colors {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.color {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0, 0.2);
}
.color.selected {
}
.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}
.size {
  background: #f0f0f0;
  color: rgb(0, 0, 0, 0.6);
  border-radius: 62px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #eee;
  width: fit-content;
}
.size.selected {
  background: #000;
  color: #fff;
}

.products-section {
  flex: 1;
}
.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.products-header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.products-meta {
  font-size: 15px;
  color: #555;
  display: flex;
  gap: 32px;
  align-items: center;
}
.products-meta .sort-icon{
  width: 11.5px;
  height: 6.5px;
  margin-bottom: 2px;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}
.shop-card-img {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.shop-name {
  font-family: "Satoshi_Bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.shop-rating {
  display: flex;
  align-items: center;
  gap: 0.55rem;
  margin-bottom: 0.8rem;
}

.shop-rating span {
  font-size: 1.4rem;
  align-self: flex-end;
  margin-left: 1.3rem;
}

.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages{
  display: flex;
  gap: 2px;
}
.page{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px;
  color: rgb(0, 0, 0, 0.5);
}
.page.active{
  color: #000;
  background-color: rgb(0, 0, 0, 0.1);
}
.page-btn{
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 14px;
}
.page-btn:hover {
  background-color: rgb(0, 0, 0, 0.05);
  cursor: pointer;
}
.page-btn img{
  width: 20px;
  height: 20px;
}
